<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Konsultappen.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8282ACB23D1FFFC00859973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8282AE123D1FFFE00859973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8282AEC23D1FFFE00859973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
